* {
	margin: 0;
	padding: 0;
}

#stars > input {
	display: none;
}

#stars > input:checked + label {
	color: #ffc700;
}

.hovered,
#stars > label:hover {
	color: #b99203 !important;
}

#stars > label {
	font-size: 80px;
	transition: color 0.3s;
}
